@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Quicksand', sans-serif;
}

/* 300;400;500;600;700 */

h1 {
	font-weight: 500;
}

h3 {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 3rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 0.8rem;
}

label {
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 2rem;
}

input {
	font-size: 1rem;
}
